/* M9 CSS Document */

html, body {
    background: black;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: Arial;
}

table {
    margin: auto;
}

#nav {
    float: left;
    height: 100%;
    width: 10%;
    background: gray;
    position: fixed;
}

#content {
    float: right;
    width: 90%;
    background: white;
    color: black;
    text-align: center;
}

#profilepic {
    margin: 7%;
    width: 77%;
    background: white;
    border-radius: 20px;
    padding: 4%;
}

#ManageUsers {
    display: none;
}

#CreateUsers {
    display: none;
}

#ChangeUsername {
    display: none;
}

#ChangePassword {
    display: none;
}

#ChangeType {
    display: none;
}

#ManageData {
    display: none;
}

#CreateData {
    display: none;
}

#ChangeTag {
    display: none;
}

#ChangeData {
    display: none;
}