/* M9 CSS Document */

@font-face {
    font-family: Phosphate;
    src: url(Resources/Fonts/Phosphate-Inline.woff);
}

html, body {
    background: #000000 url('Resources/Images/Black.png');
    width: 100%;
    height: 100%;
    text-align: center;
}

table {
    margin: auto;
}

blockquote {
    width: 400px;
    margin: auto;
}

.dbzbadge {
    position: absolute;
    right: 10px;
    top: 15px;
    border-radius: 5px;
}

.nav {
    position: fixed;
    right: 5px;
    top: 5px;
    width: 300px;
    height: 75px;
    text-align: right;
    z-index: 50;
}

.btn {
    margin: 5px;
    border-radius: 0px;
    background: none;
    border: 3px solid;
    color: red;
}

.table {
    width: auto;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}

.usertable {
    width: 300px;
}

.table th {
    text-align: center;
}

.table td {
    text-align: center;
}

.back {
    float: left;
    margin: 20px;
    margin-right: -110px;
    padding-right: 20px;
    display: none;
}

.jumbotron {
    background: none;
    color: white;
}

.form-group {
    width: 265px;
    margin: auto;
}

input {
    margin-bottom: 5px;
}

.profilepic {
    margin: 5px;
    width: 65px;
    background: white;
}

#content {
    color: white;
    margin: 25px 0px;
    padding-bottom: 50px;
}

#ChangeUsers, #CreateUsers, #ChangeUsername, #ChangeUserPassword, #ChangeUserType, #ChangeData, #CreateData, #ChangeDataTag, #ChangeDataContent, #AddGroup {
    display: none;
}

#intro {
    width: 100%;
}

#intro img {
    width: 200px;
    margin: 50px 0px;
}

.homeviews {
    width: 100%;
}

#content h1 {
    background: white;
    color: black;
    padding: 25px 0px;
    margin: 0px;
}

.homeviews h2 {
    background: yellow;
    display: inline-block;
    height: 200px;
    width: 50%;
    margin: 0px -2px;
    color: black;
    padding-top: 55px;
    font-family: Phosphate;
    vertical-align: middle;
}

.homeviews h2:hover {
    opacity: .9;
}

.form-control {
    background: white;
    color: black;
    border: none;
    border-radius: 0px;
}

.input-group-addon {
    border-radius: 0px;
}

.img-circle {
    border: 3px solid white;
}

.jumbotron h1 {
    font-family: Phosphate;
}