/* M9 CSS Document */

html, body {
    background: #32545C url(Resources/Images/background.jpg) no-repeat;
    /*background-size: cover;*/
    width: 100%;
    height: 100%;
    margin: 0px;
    text-align: center;
}

table {
    margin: auto;
}

blockquote {
    width: 400px;
    margin: auto;
}

.dbzbadge {
    position: absolute;
    right: 10px;
    top: 15px;
    border-radius: 5px;
}

.btn {
    margin: 5px;
}

.table {
    width: auto;
}

.table th {
    text-align: center;
}

.table td {
    text-align: center;
}

.subnav p {
    color: white;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    white-space: nowrap;
    font-size: 33px;
    margin-top: 32px;
    font-style: italic;
}

.subnav {
    float: left;
    height: 100%;
    width: 5%;
    background: rgba(255, 166, 0, 0.7);
    position: fixed;
    left: 10%;
    display: none;
    color: white;
}

.navtwo {
    left: 15%;
    background: rgba(255, 0, 0, 0.7);
}

.back {
    float: left;
    margin: 20px;
    margin-right: -105px;
    padding-right: 20px;
    display: none;
}

.jumbotron {
    background: none;
    color: white;
}

.form-group {
    width: 265px;
    margin: auto;
}

input {
    margin-bottom: 5px;
}

#nav {
    float: left;
    height: 100%;
    width: 10%;
    background: rgba(255, 255, 255, 0.3);
    position: fixed;
}

.profilepic {
    margin: 7%;
    width: 77%;
    background: white;
    padding: 4%;
}

#content {
    float: right;
    width: 90%;
    color: white;
}

#ChangeUsers, #CreateUsers, #ChangeUsername, #ChangeUserPassword, #ChangeUserType, #ChangeData, #CreateData, #ChangeDataTag, #ChangeDataContent, #AddGroup {
    display: none;
}