<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching>
            <profiles>
                <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".php" policy="DontCache" kernelCachePolicy="DontCache" />
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".svg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            </profiles>
        </caching>
        
        <staticContent>
          <remove fileExtension=".mp4"/>
          <remove fileExtension=".ogv"/>
          <remove fileExtension=".webm"/>
          <remove fileExtension=".svg"/> 
          <remove fileExtension=".woff"/> 
          <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
          <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
          <mimeMap fileExtension=".webm" mimeType="video/webm" />
          <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
          <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
          <mimeMap fileExtension=".less" mimeType="text/css" />
        </staticContent>
        
    </system.webServer>

</configuration>
